{% extends "model-page.html" %}

{% block content %}
<h2 xmlns="http://www.w3.org/1999/html">Evento</h2>

<form action="submit" method="POST">{% csrf_token %}
    <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
    <label>Titulo</label>
    <br>
    <input type="text" name="titulo" size="18" value="{{ evento.titulo }}">
    <br><br>
    <label>Data Evento</label>
    <br>
    <input type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}">
    <br><br>
    <label>Local</label>
    <br>
    <textarea name="local_evento" rows="5" cols="19">{{ evento.local_evento }}</textarea>
    <br><br>
    <label>Descrição</label>
    <br>
    <textarea name="descricao" rows="5" cols="19">{{ evento.descricao }}</textarea>
    <br><br><br>
    <button type="submit">Salvar</button>
    <a href="/agenda/">
        <button type="button">Cancelar</button>
    </a>
</form>

{% endblock %}